html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 66px;
}

.main{
	width: 100%;
	padding-bottom: 80px;/*等于footer的高度*/
}

.footer {
	position:absolute;
	bottom: 0;
	width: 100%;
	height: 80px;
	clear:both;
	color:#555;
	background-color:#D3D3D3;
	padding-top:20px;
}

.footer a {
	text-decoration:none;
	cursor:pointer;
	color:#9370DB;
}

code, pre {
	font-family: Courier,'Courier New',monospace;
	white-space: pre-wrap;
	word-wrap: break-word;
}

pre {
	font-size: 16px;
	position: relative;
	border-left: 2px solid #1abc9c;
	padding: 10px 0 10px 10px;
	margin: .8em 0;
	background: #fefefe;
	word-break: break-word;
}

.medal-heading {
    font-size: 50px;
    margin: 0px;
}

.search{
	position:fixed;
	right:50px;
	bottom:150px;
}
.btn-custom {
	height:60px;
	width:60px;
	color: #FFFFFF;
	background-color: #7bae23;
	/*background-color: #aaaaaa;*/
	padding: 6px 10px;
}

.btn-custom:hover{
	background-color:#9AC94B;
	/*background-color:#b1b1b1;*/

}

.custom-glyph-color{
	color:#fff;
}

.custom-glyph-color:hover{
	color:#b1b1b1;
}

.text{
	color:black;
	font-family:华文细黑;
	padding-left:40px;
	padding-right:40px;
	font-size:20px;
}
.welcome{
	background-color:#C1C1C1;
	border-radius:10px 10px 10px 10px;
}

.medal-text {
  margin: 0;
}

/* 导航条左右边距变短，默认15 */
.nav li a {
    padding-left: 10px;
	padding-right: 10px;
}

/*带链接的标题不需要下划线..*/
h2 a:hover , h3 a:hover {
	text-decoration:none; 
	cursor:pointer;
	color:black;
} 

h2 a , h3 a {
	color:#1b1b1b;
}

/*剪切板按钮*/

.zero-clipboard{
	position:relative;
	display:none
}

.btn-clipboard{
	position:absolute;
	top:0;
	right:0;
	z-index:10;
	display:block;
	padding:5px 8px;
	font-size:12px;
	color:#767676;
	cursor:pointer;
	background-color:#fff;
	border:1px solid #e1e1e8;
	border-radius:0 4px 0 4px;
}

.btn-clipboard:hover{
	color:#fff;
	background-color:#563d7c;
	border-color:#563d7c
}

@media (min-width:768px){
	.zero-clipboard{
		display:block
	}

	.zero-clipboard .btn-clipboard{
		top:0px;
		border-top-right-radius:0
	}
}

/* 表格中的悬停tag(300px右) */
div.tr-tag {
	text-align: center;
	display: none;
	position: absolute;
	background-color: #ccc;
	line-height: 12px;
	min-height: 19px;
	min-width: 130px;
	max-width: 130px;
	z-index: 1000;
	padding: 7px 8px 3px 8px;
	font-size: 12px;
	margin-left: 300px;
	margin-top: -24px;
}

div.tr-tag:after{
	content: "";
	position: absolute;
	left:-6px;
	border-width: 6px 6px 6px 0;
	border-style: solid solid solid none;
	border-color: transparent #ccc transparent transparent;
}

tr:hover div.tr-tag{
	display: block;
}

div.tr-tag span{
	display: block;
	float:left;
	margin-right: 3px;
	margin-bottom: 3px;
	background-color: #eee;
	padding: 2px 3px;
	color:#08c;
}

/* 重载.progress */
.progress {
	background-color: #f7f7f7;
	background-image: -moz-linear-gradient(top, #cccccc, #dddddd);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cccccc), to(#dddddd));
	background-image: -webkit-linear-gradient(top, #cccccc, #dddddd);
	background-image: -o-linear-gradient(top, #cccccc, #dddddd);
	background-image: linear-gradient(to bottom, #cccccc, #dddddd);
	height: 8px;
	margin: auto;
	/*width:150px;*/
	margin-top: 5px;
	margin-bottom: 3px;
}

.maxwidth150px {
	max-width:150px;
}

/* 重载.progress .bar*/
.progress .progress-bar {
	background-image: -moz-linear-gradient(top, #149bdf, #0480be);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
	background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
	background-image: -o-linear-gradient(top, #149bdf, #0480be);
	background-image: linear-gradient(to bottom, #149bdf, #0480be);
}

.card{
	position: relative;
	padding:15px 20px 45px;
	margin-bottom:15px;
	background:#fff;
	-webkit-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:0 2px 4px rgba(0,0,0,0.25);
	box-shadow:0 2px 4px rgba(0,0,0,0.25)
}

.card:hover{
	-webkit-box-shadow:0 2px 4px rgba(0,0,0,0.45);
	box-shadow:0 2px 4px rgba(0,0,0,0.45);
	-moz-transition: box-shadow 0.5s;
	transition: box-shadow 0.5s;
}

.table > tbody > tr.winner > td, .table > tbody > tr.winner > th {
	/*算了...*/
}


/* Make clicks pass-through */
#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	background: #29d;
	position: fixed;
	z-index: 1031;
	top: 0;
	left: 0;

	width: 100%;
	height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
	display: block;
	position: absolute;
	right: 0px;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px #29d, 0 0 5px #29d;
	opacity: 1.0;

	-webkit-transform: rotate(3deg) translate(0px, -4px);
	-ms-transform: rotate(3deg) translate(0px, -4px);
	transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
	display: block;
	position: fixed;
	z-index: 1031;
	top: 15px;
	right: 15px;
}

#nprogress .spinner-icon {
	width: 18px;
	height: 18px;
	box-sizing: border-box;

	border: solid 2px transparent;
	border-top-color: #29d;
	border-left-color: #29d;
	border-radius: 50%;

	-webkit-animation: nprogress-spinner 400ms linear infinite;
	animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
	overflow: hidden;
	position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
	position: absolute;
}

@-webkit-keyframes nprogress-spinner {
	0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}


.ellipsis {
	text-overflow:ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.avatar {
	padding: 0 20px 10px;
}

.ac { background: #e1ffb5; }
.firstac { background: #080; color: white !important; font-weight: bold; }
.fail { background: #ffdada; }
.pending { background: #c8d6fa; }
.bc-social {
	padding:15px 0;
	text-align:center;
	background-color:#f5f5f5;
	border-top:1px solid #fff;
	border-bottom:1px solid #ddd
}
.bc-social-buttons {
	margin-left:0;
	margin-bottom:0;
	padding-left:0;
	list-style:none
}
.bc-social-buttons li {
	display:inline-block;
	line-height:1;
	color:#555
}
.bc-social-buttons li .fa {
	font-size:18px;
	margin-right:3px
}
.bc-social-buttons li .fa-weibo {
	font-size:20px
}
.bc-social-buttons li a {
	color:#555
}
.bc-social-buttons li.social-qq:hover {
	color:#428bca
}
.bc-social-buttons li.social-weibo a:hover {
	color:#d9534f
}
.bc-social-buttons>li+li:before {
	padding:0 10px;
	color:#ccc;
	content:"|"
}
.bs-callout {
    padding: 20px;
    margin: 0 0 20px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}
/* Variations */
.bs-callout-danger {
  border-left-color: #ce4844;
}
.bs-callout-danger h4 {
  color: #ce4844;
}
.bs-callout-warning {
  border-left-color: #aa6708;
}
.bs-callout-warning h4 {
  color: #aa6708;
}
.bs-callout-info {
  border-left-color: #1b809e;
}
.bs-callout-info h4 {
  color: #1b809e;
}